/*Display Property Discussion*/

#div-1 {background-color: green;
display: inline}

#span-1 {
background-color: purple;
width: 200px;
height: 200px;
display: none;}

#span-2 {background-color: red;
display: block}

#div-2 {background-color: hotpink;
display: none}

#img {display: inline-block;
width: 250px;
height:250px;
}

/* Types of display:
		1. Inline 
		- Displays an element as an inline element. Width and height properties would have no effect. 

		2. Block
		- Displays an element as a block element. Starts on a new line and takes up the whole width. 

		3. Inline-block
		- Displays an element as an inline-level "box" container. Formatted as an inline element but height and width values can be set. 

		4. None 
		- The element is removed from sight.
*/

#p-1 {background-color: #87CEFA;}
#p-2 {background-color: rgb(255, 105, 180);
	width: 60%}
#p-3 {background-color: yellow;
	width: 40%}

.sample	{display: inline-block;
width: 30%;
border: 1px solid black;
text-align: center;
color: red;}

/*Float Property*/

.img-float {height: 175px;
width: 175px;
float: right;}

/*CSS Units*/

.parent {width: 135px;
border: 2px solid navy;}

/*Targets div class= box*/
.box {background-color: red;
border: 1px solid black;
margin: 5px;}

/*Targets class="fifty-percent"*/
.fifty-percent {width: 50%}

/*Targets clas="one-hundred-pixels*/
.one-hundred-pixels {width: 100px;}

/*Targets clas="fifty-vw*/
.fifty-vw {width: 50vw;}

.twenty-five-vh {height: 50vh;}

.one-rem {font-size: 1rem}

.one-em {font-size: 1em}

.two-rem {font-size: 2rem}

.two-em {font-size: 2em}

.two-hundred-percent {font-size: 200%}

.background 
	{background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	
}

/*CSS Positioning */

.parent-element {background-color: skyblue;
padding: 50px 10px;
position: relative;
height: 800px}

.child-one {background-color: gray;
padding: 10px;}

.child-two {background-color: yellow;
padding: 10px;
position: sticky;
top: 10px;
}

.child-three {background-color: gray;
padding: 10px;
}

html {height: 800vh}

/*Z index*/

.container {position: relative;}

.black-box {position: relative;
z-index: 1;
border: 2px solid black;
height: 100px;
margin: 30px;
}

.gray-box {position: absolute;
z-index: 3;
background: lightgray;
height: 60px;
width: 70%;
left: 50px;
top: 50px;}

.green-box {position: absolute;
z-index: 2;
background: lightgreen;
width: 35%;
left: 270px;
top: -15px;
height: 150px;}