* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {font: sans-serif;}

.child
{   background-color: white;
    padding: 4px;
    position: sticky;
    top: 4px;
    z-index: 2;} 

div {text-align: right}

.apply-button 
{display: inline-block;
padding: 10px;
color: white;
background: #c2195b;
border-radius: 100px;
margin-right: 11%}

#logo {display: inline;}

.nav-logo {display: inline;}

.nav 
    {display: inline;
    padding: 1rem;
    margin-left: 2px;
    margin-top: 100px;
    margin-bottom:  2px;} 

.right-nav 
    {float: right;
    margin-top: 5px;
    display: inline-block;}


.tuitt-button 
{background: #c2195b;
color: white;
padding: 5px;
border-radius: 100px}

#bg-image 
{
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    min-height: 60vh; 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;} 

.front-bg {background-color: rgba(0,0,0,0.6);
min-height: 60vh;}

.title {text-align: right;
color: white;
font-size: 50px;
text-indent: 25%;
margin-right: 10%;
margin-top: ;
margin-bottom: 1rem}

.subtitle {text-align: right;
color: white;
font-size: 20px;
 padding: 1rem;
margin-right: 10%;
margin-left: 50%;
margin-bottom: 2em;}




.intro {text-align: center}

.intro-description {position: relative;
    padding: 1rem;
    margin-bottom:  2rem;
    margin-bottom:  5px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;}

.title-2 {border-bottom: 50px
   padding: 1rem;
    margin-top: 5rem;
    margin-bottom:  10px;
    text-align: center;
position: relative;}


.prefooter-description 
    {position: relative;
    padding: 1rem;
    margin-bottom:  2rem;
    margin-bottom:  5px;
    margin-right: 10%;
    margin-left: 10%;}


.book-button 
{background-color: #336589;
color: white;
padding-right: 30px;
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 100px;
margin-bottom: 50 px;
text-align: center;
position: relative;}

 footer {position: relative;
    text-align: center;
}

