/* CSS RESET  */

* { margin:0;
	padding:0;
	box-sizing:border-box; }

.child { 
		display:inline;
		background-color: white;
		padding: 4px;
		position: sticky;
		top: 4px; 
		}

.nav-logo {display: inline; }

.logo { display: inline; }


.right.nav { 
			display: inline-block; 
			float: right; 
			}

.nav { 
	display: inline; 
	padding: 1rem; 
	margin-inline: 1px; 
	margin-top: 1em; 
	margin-bottom: 1em; 
	}



















